# Compiled class file directory
*.class
target/

# Log file
log/
logs/
*.log

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IntelliJ IDEA
.idea
*.iml
*.iws
*.ipr

# jvm
*.hprof
*.analysis/

# macOs
*.DS_Store
.DS_Store
